*{
    margin: 0;
    padding: 0;
    font-family: "helvetica";
    box-sizing:  border-box;
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}
#main{
    width:100%;
    height: 100%;
    background-color: black;
}
#nav_bar{
    width:100%;
    height: 10%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
#nav_bar img{
    height: 50%;
    margin-left: 2%;
    cursor: not-allowed;
    color: white;
}
#nav_bar_part2{
    display: flex;
    gap:10%;
    margin-right: 100px;
}
#nav_bar_part3{
    display: flex;
    gap:15%;
    margin-right: 100px;
    align-items: center;
}
#nav_bar h3{
    text-transform: uppercase;
    font-size: 80%;
  
}
#nav_bar button{
    background-color:white;
    border: none;
    color: black;
    font-weight: 500;
    
    padding: 13% 18%; /* Adjusted padding values */
    cursor: pointer;

    text-transform: uppercase;
    font-size: 15px;
    white-space: nowrap; 

    border-radius: 10px;
    transition: background-color 1s, padding 1s;
}
#nav_bar button:hover{
    background-color: aqua;
    padding:20% 30%;
}